@font-face {
  font-family: myFirstFont;
  src: url(pdark.ttf);
}

:root {
  --orange-rgba: rgba(236, 122, 28, 0.9);
}

body {
  font-family: myFirstFont;

  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
}

body > * {
  margin-bottom: 30px;
}

h1,
h2 {
  margin: 2rem 1rem;
}

header {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;

  margin-bottom: 0px;
  background-color: #222222;
  padding: 10px 20px;
}

/* header:nth-child(2) {
  align-items: end;
} */

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.flex-container * {
  margin: 0 0.5rem 1rem 0.5rem;
}

.weapons {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-evenly;
  margin: 2rem 0;
  width: 100%;
  height: auto;
  gap: 1rem;
}

.weapon img {
  width: 12vw;
  min-width: 140px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.help-image img {
  width: 200px;
  height: 200px;
}

.content {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}

.helpButton {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 15px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.scores {
  display: none;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  margin: 20px;
}

.buttonHolder {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column wrap;
  cursor: pointer;
}

.content .invi {
  visibility: hidden;
}

/* Help Content */
.appear {
  display: none;
  flex-flow: column wrap;
  color: black;
  background-color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-content: center;
}

.appear img {
  visibility: hidden;
  width: 100vh;
}

.appear ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.appear ol li {
  font-family: sans-serif;
  list-style-position: outside;
  align-content: center;
  font-weight: bold;
}

/* Message Guide */
#messageGuide .guideLabel {
  font-family: myFirstFont;
}
#messageGuide p {
  font-family: sans-serif;
}

/* Hover on Help Icon */
.helpButton:hover ~ .content,
.helpButton:hover ~ #messageGuide {
  display: none;
}

.helpButton:hover {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  transform: scale(1.2);
}

.helpButton:hover ~ .appear {
  display: flex;
}

.helpButton:hover ~ .appear img {
  visibility: visible;
}

/* Hover on Content */
.weapon img:hover {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  transform: scale(1.2);
  box-shadow: 0px 0px 20px 0px var(--orange-rgba);
}

#playButton {
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}

#playButton:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 20px 0px var(--orange-rgba);
}

/* Animations */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.weapon:nth-child(2) {
  transition-delay: 300ms;
}

.weapon:nth-child(3) {
  transition-delay: 400ms;
}

.buttonStart {
  transition-delay: 500ms;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media (max-width: 562px) {
  .weapons {
    margin: 0;
  }

  .flex-container * {
    margin: 0 0.2rem 0.5rem 0.2rem;
  }

  .weapons {
    gap: 0.5rem;
  }
}
